<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css">
    <title>FinanSESI</title>
</head>
<body>
    <header>
        <div class="logo"><img src="../../img/logo toldos.jpg" alt="">TOLDOS ANDRADINA</div>
        <nav>
            <a href="/">HOME</a>
            <a href="/sobre">SOBRE</a>
            <a href="/orcamento">ORÇAMNETO</a>
            <a href="/contato">CONTATO</a>
        </nav>
    </header>
    <main>
        <%- body %>
        <div>

        </div>
    </main>
    <footer>
        &copy; 2025 TOLDOS ANDRADINA
        <br>
    </footer>
</body>
</html>