
<h1>mais uma aula sobre servidor</h1>
<h3>mais uma aula sobre servidor</h3>

<div class=" lista_cards">
    <a href="/juro_simples">
        <h2 class ="titulo">juro simples</h2>
        <img src="../public/img/juros_simples.png" alt="">
    </a>
</div>

<div class=" lista_cards">
    <a href="/juro_composto">
        <h2 class ="titulo">juro composto</h2>
        <img src="../public/img/juros_composto.png" alt="">
    </a>
</div>