
<h1 class = "titulo">FALE CONOSCO</h1>
<p class = 'titulo2'>NESSE SITE VOCê PODE AGENDAR SEU ORÇAMNETO E TIRAR SUAS DUVIDAS</p>
<hr>
<h1 class="titulo">MODELOS</h1>
<div>
            <img src="../../img/imgtoldo.jpg" alt="" class ='imgtoldo'>
            <img src="../../img/imgtoldo2.jpg" alt="" class ='imgtoldo'>
            <img src="../../img/imgtoldo3.jpg" alt="" class ='imgtoldo'>
            <img src="../../img/imgtoldo4.jpg" alt="" class ='imgtoldo'>
            <img src="../../img/imgtoldo5.jpg" alt="" class ='imgtoldo'>
</div>
