<h1 class="titulo">ORÇAMENTOS</h1>

<form action="/juro_simples" method="post">
    <label></label>
    <input type="string" placeholder="NOME" required>

    <label></label>
    <input type="string" placeholder="ENDEREÇO" required>

    <label></label>
    <input type="number" placeholder="CELULAR" required>

    <button type="submit">AGENDAR</button>
</form>











