<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>Meu Perfil do Instagram</title>

</head>
<body>
    <hr>
      <h1>"A Toldos Andradina é uma empresa especializada na fabricação e instalação de toldos e coberturas em Andradina, São Paulo. Com anos de experiência no mercado, a empresa se tornou uma referência no segmento, oferecendo soluções sob medida para clientes residenciais e comerciais. A Toldos Andradina é uma empresa comprometida com a satisfação do cliente, oferecendo soluções personalizadas e atendimento diferenciado. Com uma equipe de profissionais altamente capacitados e experientes, a empresa preza pela qualidade e pela excelência em todos os serviços prestados. A Toldos Andradina está localizada na cidade de Andradina, São Paulo, e atende toda a região, oferecendo serviços de qualidade e soluções sob medida para cada cliente</h1>
    <hr>
</body>
</html>